{% extends('Layouts/single.twig') %}

{% block title %}
    {{ tag.name }}
{% endblock %}
{% block content %}
    <section id="main" class="wrapper">
        <h1>Tag: @{{ tag.name }}</h1>
        {% for post in tag.posts %}
            <div class="inner">
                <h2 class="major">{{ post.title }}</h2>
                <span class="image fit">{% include "Inc/Players/#{post.type}.twig" with {'url': post.url} %}</span>
            </div>
        {% endfor %}
    </section>
{% endblock %}