{% extends "Layouts/home.twig" %}

{% block content %}
    {% for post in posts %}
        <section>
            <a href="/posts/{{ post.id }}" class="image" style="{% if post.type == 'youtube' %}background-size: 150% 140%;{% endif %}"><img src="{{ post.preview }}" alt="" data-position="center center" /></a>
            <div class="content">
                <div class="inner">
                    <h2>{{ post.title }}</h2>
                    <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
                    {%  if post.tags %}
                    <div class="tags">
                        {% for tag in post.tags %}
                            <a href="/tags/{{ tag.id }}" class="tag">@{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <ul class="actions">
                        <li><a href="/posts/{{ post.id }}" class="button">Learn more</a></li>
                    </ul>
                </div>
            </div>
        </section>
    {% endfor %}

{% endblock %}